.chat
  .chat__group
    .chat__group--leftbox
      .chat__group--leftbox--title
        = @group.name
      .chat__group--leftbox--members
        memberlist :
        .chat__group--leftbox--members--member
          - @group.users.each do |user|
            = user.name
    .chat__group--btn
      = link_to "Edit", edit_group_path(@group), class: "chat__group--btn--link" 

  .chat__message-list
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__box
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'image-icon' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'image-btn'
      .submit-box
        = f.submit 'Send', class: 'form__submit'
